    body, html {
        background: lightskyblue;
        text-align: center;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .tablet {
        display: none;
    }


